<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
</head>
<body>
    {{ content }}

    <!-- Scripts at the bottom of body for better page loading -->
    <script src="{{ '/assets/js/gameStates.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/game.js' | relative_url }}"></script>
</body>
</html>